<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MQTT_HOST</key>
	<string>$(MQTT_HOST)</string>
	<key>MQTT_PASSWORD</key>
	<string>$(MQTT_PASSWORD)</string>
	<key>MQTT_PORT</key>
	<string>$(MQTT_PORT)</string>
	<key>MQTT_USERNAME</key>
	<string>$(MQTT_USERNAME)</string>
	<key>UIAppFonts</key>
	<array>
		<string>BricolageGrotesque.ttf</string>
		<string>Inter.ttf</string>
	</array>
</dict>
</plist>
